.header {
  color: black;
  font-weight: bold;
  background-color: ;

  width: 100%;
  height: 75px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.svgIcons {
  align-content: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
 }

.img-wrapper img {
  width: 15%;
  padding: 20px;
}

.img-wrapper > img:hover {
  box-shadow: 0px 0px 10px 6px rgba(63,63,63,1);
}


#moonlight_greatsword :selected {
  color: orange;
}
